@model TestRoshanTailor.Models.RegisterViewModel

<!doctype html>
<html lang="en" class="no-js">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

    <link href="~/Content/reset.css" rel="stylesheet" />  <!-- CSS reset -->
    <link href="~/Content/style.css" rel="stylesheet" />  <!-- Resource style -->
    <link href="~/Content/demo.css" rel="stylesheet" />  <!-- Demo style -->
    <link rel="stylesheet" href="path/to/font-awesome-6/css/all.min.css">

    <title>Roshan Tailor</title>
</head>
<body>
    <header class="cd-main-header">
        <div class="cd-main-header__logo"><a href="#0"><img src="~/Content/img/RoshanTailor_Name_Logo.jpeg" alt="Logo" /></a></div>

        <nav class="cd-main-nav js-main-nav">
            <ul class="cd-main-nav__list js-signin-modal-trigger">
                <!-- inser more links here -->
                <li><a class="cd-main-nav__item cd-main-nav__item--signin"  href="#0" data-signin="login">Sign In</a></li>
                <li><a class="cd-main-nav__item cd-main-nav__item--signup"  href="#0" data-signin="signup">Sign Up</a></li>
            </ul>
        </nav>
    </header>

    <img src="~/Content/img/7207752.jpg" />


    <div class="cd-signin-modal js-signin-modal">
        <!-- this is the entire modal form, including the background -->
        <div class="cd-signin-modal__container">
            <!-- this is the container wrapper -->
            <ul id="divul" class="cd-signin-modal__switcher js-signin-modal-switcher js-signin-modal-trigger">
                <li><a href="#0" data-signin="login" id="tab1" data-type="login">Sign In</a></li>
                <li><a href="#0" data-signin="signup" id="tab2" data-type="signup">New Account</a></li>
            </ul>

            <div class="cd-signin-modal__block js-signin-modal-block" id="div-sign-in" data-type="login">
                <!-- log in form -->
                <form class="cd-signin-modal__form">
                    <p class="cd-signin-modal__fieldset">
                        <label class="cd-signin-modal__label cd-signin-modal__label--email cd-signin-modal__label--image-replace" for="signin-email">E mail</label>
                        <input class="cd-signin-modal__input cd-signin-modal__input--full-width cd-signin-modal__input--has-padding cd-signin-modal__input--has-border" id="signin-email"  placeholder="username">
                        @*<span class="cd-signin-modal__error">Error message here!</span>*@
                    </p>

                    <p class="cd-signin-modal__fieldset">
                        <label class="cd-signin-modal__label cd-signin-modal__label--password cd-signin-modal__label--image-replace" for="signin-password">Password</label>
                        <input class="cd-signin-modal__input cd-signin-modal__input--full-width cd-signin-modal__input--has-padding cd-signin-modal__input--has-border" id="signin-password" type="password" placeholder="password">
                        <a href="#0" onclick="showhide()" class="cd-signin-modal__hide-password js-hide-password"><i class="far fa-eye" id="toggleSignInPassword"></i></a>
                        @*<span class="cd-signin-modal__error">Error message here!</span>*@
                    </p>


                    <p class="cd-signin-modal__fieldset">
                        <input type="checkbox" id="remember-me" class="cd-signin-modal__input">
                        <label for="remember-me">Remember me</label>
                    </p>


                    <p class="cd-signin-modal__fieldset">
                        <input id="userlogin" class="cd-signin-modal__input cd-signin-modal__input--full-width" type="submit" value="Login">
                    </p>
                </form>

                <p class="cd-signin-modal__bottom-message js-signin-modal-trigger"><a href="#0" data-signin="reset">Forgot password</a></p>
            </div> <!-- cd-signin-modal__block -->

            <div class="cd-signin-modal__block js-signin-modal-block" id="div-sign-up" data-type="signup">
                <!-- sign up form -->
                @*<form class="cd-signin-modal__form">*@
                <form asp-action="Register" method="post" class="cd-signin-modal__form">
                    <!--<p class="cd-signin-modal__fieldset">
                    <label class="cd-signin-modal__label cd-signin-modal__label--username cd-signin-modal__label--image-replace" for="signup-username">Username</label>
                    <input class="cd-signin-modal__input cd-signin-modal__input--full-width cd-signin-modal__input--has-padding cd-signin-modal__input--has-border" id="signup-username" type="text" placeholder="username">-->
                    @*<span class="cd-signin-modal__error">Error message here!</span>*@
                    <!--</p>-->
                    <p class="cd-signin-modal__fieldset">
                        <label class="cd-signin-modal__label cd-signin-modal__label--username cd-signin-modal__label--image-replace" for="signup-username">Username</label>
                        @*@Html.TextBoxFor(c => c.Username, new { @class = "cd-signin-modal__label cd-signin-modal__label--username cd-signin-modal__label--image-replace"})*@
                        <input class="cd-signin-modal__input cd-signin-modal__input--full-width cd-signin-modal__input--has-padding cd-signin-modal__input--has-border" id="signup-username" asp-for="Username" placeholder="username">

                        <span asp-validation-for="Username" class="cd-signin-modal__error"></span>
                    </p>


                    <!--<p class="cd-signin-modal__fieldset">
                    <label class="cd-signin-modal__label cd-signin-modal__label--email cd-signin-modal__label--image-replace" for="signup-email">E mail</label>
                    <input class="cd-signin-modal__input cd-signin-modal__input--full-width cd-signin-modal__input--has-padding cd-signin-modal__input--has-border" id="signup-email" type="email" placeholder="e mail">-->
                    @*<span class="cd-signin-modal__error">Error message here!</span>*@
                    <!--</p>-->
                    <p class="cd-signin-modal__fieldset">
                        <label class="cd-signin-modal__label cd-signin-modal__label--email cd-signin-modal__label--image-replace" for="signup-email">E mail</label>
                        <input class="cd-signin-modal__input cd-signin-modal__input--full-width cd-signin-modal__input--has-padding cd-signin-modal__input--has-border" id="signup-email" asp-for="Email" placeholder="email">
                        <span asp-validation-for="Email" class="cd-signin-modal__error"></span>
                    </p>

                    <!--<p class="cd-signin-modal__fieldset">
                    <label class="cd-signin-modal__label cd-signin-modal__label--password cd-signin-modal__label--image-replace" for="signup-password">Password</label>
                    <input class="cd-signin-modal__input cd-signin-modal__input--full-width cd-signin-modal__input--has-padding cd-signin-modal__input--has-border" id="signup-password" type="password" placeholder="password">
                    <a href="#0" class="cd-signin-modal__hide-password js-hide-password"><i class="far fa-eye" id="togglePassword"></i></a>-->
                    @*<span class="cd-signin-modal__error">Error message here!</span>*@
                    <!--</p>-->
                    <p class="cd-signin-modal__fieldset">
                        <label class="cd-signin-modal__label cd-signin-modal__label--password cd-signin-modal__label--image-replace" for="signup-password">Password</label>
                        <input class="cd-signin-modal__input cd-signin-modal__input--full-width cd-signin-modal__input--has-padding cd-signin-modal__input--has-border" id="signup-password" asp-for="Password" placeholder="password" type="password">
                        <a href="#0" onclick="showhideReg()" class="cd-signin-modal__hide-password js-hide-password"><i class="far fa-eye" id="togglePassword"></i></a>
                        <span asp-validation-for="Password" class="cd-signin-modal__error"></span>
                    </p>

                    <!--<p class="cd-signin-modal__fieldset">
                    <label class="cd-signin-modal__label cd-signin-modal__label--password cd-signin-modal__label--image-replace" for="signup-password">Confirm Password</label>
                    <input class="cd-signin-modal__input cd-signin-modal__input--full-width cd-signin-modal__input--has-padding cd-signin-modal__input--has-border" id="signup-password" type="password" placeholder="confirm password">
                    <a href="#0" class="cd-signin-modal__hide-password js-hide-password"><i class="far fa-eye" id="togglePassword"></i></a>-->
                    @*<span class="cd-signin-modal__error">Error message here!</span>*@
                    <!--</p>-->
                    <p class="cd-signin-modal__fieldset">
                        <label class="cd-signin-modal__label cd-signin-modal__label--password cd-signin-modal__label--image-replace" for="signup-confirm-password">Confirm Password</label>
                        <input class="cd-signin-modal__input cd-signin-modal__input--full-width cd-signin-modal__input--has-padding cd-signin-modal__input--has-border" id="signup-confirm-password" asp-for="ConfirmPassword" placeholder="confirm password" type="password">
                        <a href="#0" onclick="showhideRegConfirm()" class="cd-signin-modal__hide-password js-hide-password"><i class="far fa-eye" id="toggleConfirmPassword"></i></a>
                        <span asp-validation-for="ConfirmPassword" class="cd-signin-modal__error"></span>
                    </p>


                    @*<p class="cd-signin-modal__fieldset">
                            <input type="checkbox" id="accept-terms" class="cd-signin-modal__input ">
                            <label for="accept-terms">I agree to the <a href="#0">Terms</a></label>
                        </p>*@
                    <p class="cd-signin-modal__fieldset">
                        <input type="checkbox" id="accept-terms" asp-for="AcceptTerms" class="cd-signin-modal__input ">
                        <label for="accept-terms">I agree to the <a href="#0">Terms</a></label>
                        <span asp-validation-for="AcceptTerms" class="cd-signin-modal__error"></span>
                    </p>

                    <p class="cd-signin-modal__fieldset">
                        <input id="createUser" class="cd-signin-modal__input cd-signin-modal__input--full-width cd-signin-modal__input--has-padding" type="submit" value="Create Account">
                    </p>
                </form>
            </div> <!-- cd-signin-modal__block -->

            <div class="cd-signin-modal__block js-signin-modal-block" data-type="reset">
                <!-- reset password form -->
                <p class="cd-signin-modal__message">Lost your password? Please enter your email address. You will receive a link to create a new password.</p>

                <form class="cd-signin-modal__form">
                    <p class="cd-signin-modal__fieldset">
                        <label class="cd-signin-modal__label cd-signin-modal__label--email cd-signin-modal__label--image-replace" for="reset-email">E mail</label>
                        <input class="cd-signin-modal__input cd-signin-modal__input--full-width cd-signin-modal__input--has-padding cd-signin-modal__input--has-border" id="reset-email" type="email" placeholder="e mail">
                        @*<span class="cd-signin-modal__error">Error message here!</span>*@
                    </p>

                    <p class="cd-signin-modal__fieldset">
                        <input class="cd-signin-modal__input cd-signin-modal__input--full-width cd-signin-modal__input--has-padding" type="submit" value="Reset Password">
                    </p>
                </form>

                <p class="cd-signin-modal__bottom-message js-signin-modal-trigger"><a href="#0" data-signin="login">Back to log-in</a></p>
            </div> <!-- cd-signin-modal__block -->
            <a href="#0" class="cd-signin-modal__close js-close">Close</a>
        </div> <!-- cd-signin-modal__container -->
    </div> <!-- cd-signin-modal -->
    <script src="~/Scripts/placeholders.min.js"></script>   <!-- polyfill for the HTML5 placeholder attribute -->
    <script src="~/Scripts/main.js"></script>   <!-- Resource JavaScript -->
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script type="text/javascript" src="https://ajax.cdnjs.com/ajax/libs/json2/20110223/json2.js"></script>
       
    <script type="text/javascript">

        function showhide() {
            var x = document.getElementById("signin-password");
            if (x.type === "password") {
                x.type = "text";
            } else {
                x.type = "password";
            }
        }

        function showhideReg() {
            var x = document.getElementById("signup-password");
            if (x.type === "password") {
                x.type = "text";
            } else {
                x.type = "password";
            }
        }

        function showhideRegConfirm() {
            var x = document.getElementById("signup-confirm-password");
            if (x.type === "password") {
                x.type = "text";
            } else {
                x.type = "password";
            }
        }




        $("body").on("click", "#createUser", function () {
            var userName = $("#signup-username");
            var userEmail = $("#signup-email");
            var userPassword = $("#signup-password");
            var userCPassword = $("#signup-confirm-password");

            if (userName == undefined || userName == '' || userName == null) {
                alert('UserName required!');
            }
            else if (userEmail == undefined || userEmail == '' || userEmail == null) { alert('User Email required!') }
            else if (userPassword == undefined || userPassword == '' || userPassword == null) { alert('User Password required!') }
            else if (userCPassword == undefined || userCPassword == '' || userCPassword == null) { alert('User Confirm Password required!') }
            else {

                var _customer = {};
                _customer.Username = userName.val();
                _customer.Email = userEmail.val();
                _customer.Password = userPassword.val();
                _customer.ConfirmPassword = userCPassword.val();

                $.ajax({
                    type: "POST",
                    url: "/Home/Index",
                    data: JSON.stringify(_customer),
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function (r) {
                        //tab1,tab2,class="cd-signin-modal__block--is-selected"
                        var res = JSON.parse(JSON.stringify(r));
                        alert(JSON.parse(JSON.stringify(r)));
                        if (res == 'Registration Successfull.') {                            
                            $("#tab1").addClass('cd-selected');
                            $("#div-sign-in").addClass('cd-signin-modal__block--is-selected');
                            $("#div-sign-up").removeClass('cd-signin-modal__block--is-selected');                     

                            $("#tab2").removeClass('cd-selected');
                        }
                        //alert('User Registerd Successfully!');
                    },
                    error: function (x) {
                        alert(JSON.parse(JSON.stringify(x))); 
                        //alert('Please fix the error and try again');
                    }
                })
            }
        })

        $("body").on("click", "#userlogin", function () {
            var userName = $("#signin-email");
            //var userEmail = $("#signup-email");
            var userPassword = $("#signin-password");
            //var userCPassword = $("#signup-confirm-password");

            if (userName == undefined || userName == '' || userName == null) {
                alert('UserName required!');
            }
            //else if (userEmail == undefined || userEmail == '' || userEmail == null) { alert('User Email required!') }
            else if (userPassword == undefined || userPassword == '' || userPassword == null) { alert('User Password required!') }
            //else if (userCPassword == undefined || userCPassword == '' || userCPassword == null) { alert('User Confirm Password required!') }
            else {

                var _customer = {};
                _customer.Username = userName.val();
                _customer.Password = userPassword.val();
                $.ajax({
                    type: "POST",
                    url: "/Home/Login",
                    data: JSON.stringify(_customer),
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function (r) {
                        //tab1,tab2,class="cd-signin-modal__block--is-selected"
                        var res = JSON.parse(JSON.stringify(r));
                        console.log(res);
                        alert(JSON.parse(JSON.stringify(r)));
                        if (res == 'Login Successfull.') {
                            window.location.href = '/Home/Contact';
                        }
                       
                    },
                    error: function (x) {
                        alert(JSON.parse(JSON.stringify(x)));
                        //alert('Please fix the error and try again');
                    }
                })
            }
        })

    </script>


    //const togglePassword = document.querySelector('#togglePassword');
    //const password = document.querySelector('#password');

    //togglePassword.addEventListener('click', function (e) {
    //    // toggle the type attribute
    //    const type = password.getAttribute('type') === 'password' ? 'text' : 'password';
    //    password.setAttribute('type', type);
    //    // toggle the eye / eye slash icon
    //    this.classList.toggle('fa-eye-slash');
    //});

    @section Scripts {
        <partial name="_ValidationScriptsPartial" />
    }
</body>
</html>


